# Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Model checkpoints and weights
models/
*.pt
*.bin
*.pth
*.safetensors

# Data and index files
dataset/
corpus/
indexes/
submissions/

# IDEs & OS files
.idea/
.DS_Store
.ipynb_checkpoints/

# Caches
.pytest_cache/
.ruff_cache/
.cache/
